<h2>📜 {{textos.get('transactionHistory')}}</h2>

<ng-container *ngIf="transacciones().length; else sinTransacciones">
  <mat-card *ngFor="let t of transacciones()" class="transaccion-card">
    <mat-card-title>
      {{ t.tipo | titlecase }} en {{ t.fondo }}
    </mat-card-title>
    <mat-card-content>
      <p>{{textos.get('amount')}} {{ t.monto | currency: 'COP':'symbol':'1.0-0' }}</p>
      <p>{{textos.get('date')}}  {{ t.fecha | date: 'medium' }}</p>
      <p *ngIf="t.metodoNotificacion">
        {{textos.get('notificationMethod')}}
        {{ t.metodoNotificacion === 'email' ? 'Correo electrónico' : 'Mensaje de texto (SMS)' }}
      </p>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #sinTransacciones>
  <p>{{textos.get('noTransactions')}}</p>
</ng-template>
